@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #2b2b2b; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.main-header {
  background-color: #515077; }
  .main-header .l-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.main-header-logo {
  width: 11%; }

.main-nav {
  background-color: #ffa500;
  position: fixed;
  top: 0;
  right: 0;
  width: 12em; }

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .main-menu__link {
    line-height: 2;
    display: block;
    text-transform: uppercase;
    font-family: "Lato", sans-serif; }
