.main-banner{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .4;
    }
    &__img{
        display: block;
    }
    &__copy{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        text-align: center;
        z-index: 100;
        color: $white;
        &__title{
            font-size: 1.8em;
            margin: 0;  
        }
        &__content{
            font-size: 1.3em;
            margin: 0;
        }
        &__buttom{
            font-size: 1em;
        }
    }

}