/*
<header class="main-header">
        <div class="l-container">
            <img src="" alt="" class="main-header-logo">
            <nav class="main-nav">
            </nav>
        </div>
    </header>
*/

.main-header {
    background-color: $color_3;
    .l-container {
        display: flex;
        justify-content: space-between;
    }
}
.main-header-logo{
    width: 11%;
}