.main-nav{
    background-color: $color_1;
    position: fixed;
    top: 0;
    right: 0;
    width: $canvas_header_menu;
}

.main-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    &__item{

    }
    &__link{
        line-height: 2;
        display: block;
        text-transform: uppercase;
        font-family: $font-text;
    }
}