.main-services {
    @include from ($MEDIUM){
        display: flex;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10em;
        margin: 0;

        @include from($MEDIUM){
            flex: 1 1 33.33%;
        }
        @include from ($LARGE){
            height: 15em;
        }
        
        &:nth-of-type(1) {
            color: $white;
        }

        &:nth-of-type(2) {
            background: $color_2;
            color: $white;
        }
        &:nth-of-type(3){
            background: $color_3;
            color: $white;
        }
    }
}