.main-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .main-services__item {
    padding: 0 1.5em 1em; }
